@model Intro2._0.Models.Introduction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Introduction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeptContacts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptContacts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacultyMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyMembers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageofVc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageofVc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageofChairman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageofChairman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DeptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University.UniversityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University.UniversityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.FacultyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session.SessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session.SessionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IntroductionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
